.conditions {
  padding-top: 120px;
  font-family: 'YS Display', Arial, sans-serif;
  width: calc(100% - 1px);
  min-height: 100vh;
  box-sizing: border-box;

  &__text-container {
    @include remove-margins;
    width: 770px;

    @include media_1280 {
      width: 715px;
    }

    @include media_1024 {
      width: 370px;
    }

    @include media_768 {
      width: 300px;
    }
  }

  &__container {
    margin: 0;
    width: 100%;
    padding: 30px 0 15px;
    height: calc(100% - 132px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    @include media_1280 {
      height: calc(100% - 108px);
    }

    @include media_1024 {
      height: calc(100% - 72px);
    }

    @include media_768 {
      padding-top: 50px;
      height: calc(100% - 58px);
    }
  }

  &__slider {
    @include remove-margins;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    list-style: none;
  }

  &__slide {
    margin: 0;
    min-width: max-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &__card {
    margin: 0 90px 0 0;
    padding: 65px 50px 60px;
    width: 400px;
    height: 420px;
    background: transparent;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    @include media_1280 {
      width: 352px;
      height: 420px;
      padding: 65px 25px 40px;
      margin-right: 20px;
    }

    @include media_1024 {
      width: 280px;
      height: 350px;
      padding: 75px 30px 50px;
    }

    @include media_768 {
      width: 240px;
      height: 300px;
      padding: 50px 20px 40px;
      margin-right: 10px;
    }
  }

  &__card-image {
    @include remove-margins;
    width: 320px;
    height: 320px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


    @include media_1280 {
      width: 300px;
      height: 300px;
    }

    @include media_1024 {
      width: 220px;
      height: 220px;
    }

    @include media_768 {
      width: 180px;
      height: 180px;
    }
  }

  &__card-title {
    @include remove-margins;
    @include subtitle-h3;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 140px;
      height: 225px;
      border-right: 3px solid rgba(133, 133, 133, 0.3);
      border-bottom: 3px solid rgba(133, 133, 133, 0.3);

      @include media_768 {
        width: 75px;
        height: 100px;
        border-right: 2px solid rgba(133, 133, 133, 0.3);
        border-bottom: 2px solid rgba(133, 133, 133, 0.3);
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 140px;
      height: 225px;
      border-left: 3px solid rgba(133, 133, 133, 0.3);
      border-top: 3px solid rgba(133, 133, 133, 0.3);

      @include media_768 {
        width: 75px;
        height: 100px;
        border-left: 2px solid rgba(133, 133, 133, 0.3);
        border-top: 2px solid rgba(133, 133, 133, 0.3);
      }
    }
  }

  &__card-text {
    margin: 0;
    padding: 50px 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;

    @include media_1024 {
      padding-top: 45px;
      font-size: 13px;
    }

    @include media_768 {
      font-size: 12px;
    }
  }

  @include media_1024 {
    padding-top: 110px;
  }

  @include media_768 {
    padding-top: 80px;
  }
}