@import '../../utils/styles/constants';
@import '../../utils/styles/mixins';

.duties {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  font-family: 'YS Display', Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;

  .duties__list-of-positions {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px 0 0;
    padding: 0;
    list-style-type: none;
    column-gap: 20px;

    @include media_1280 {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }

    @include media_600 {
      margin-top: 50px;
    }
  }

  .duties__button {
    text-decoration: none;
    color: $lightText;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    border: none;
    box-sizing: border-box;
    text-align: center;
    margin-top: 60px;
    background: #4F7FDD;
    border-radius: 8px;
    width: 330px;
    padding: 10px 0;

    @include media_480 {
      margin-top: 30px;
      width: 300px;
      font-size: 15px;
    }
  }

  .duties__button:hover {
    cursor: pointer;
    background-color: #2B68DE;
  }

  .duties__button:focus {
    background-color: #00308C;
  }
}