@import '../../utils/styles/constants';

.duties {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  font-family: 'YS Display', Arial, sans-serif;

  .duties__list-of-positions {
    display: grid;
    max-width: 1240px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin: 70px 0 0;
    padding: 0;
    list-style-type: none;
    column-gap: 20px;
  }

  .duties__button {
    text-decoration: none;
    color: $darckText;
    font-family: 'YS Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 3.12;
    font-family: 'YS Text', Arial, sans-serif;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    width: 400px;
    text-align: center;
    margin-top: 45px;
  }

  .duties__button:hover {
    cursor: pointer;
  }
}