.button-close {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../images/button-close-popup.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  position: absolute;
  top: 30px;
  right: 30px;
  background-size: contain;

  @include media_768 {
    width: 19px;
    height: 19px;
  }

  &_place_video-popup {
    background-image: url(../images/button-close-popup-white.png);
    top: -40px;
    right: -40px;
  }

  &:hover {
    cursor: pointer;
    opacity: .6;
    transition: .7s;
  }
}
