.button-close {
  display: block;
  width: 32px;
  height: 32px;
  /*ToDo: change tag to background
  background-image: url(../../images/button-close-popup.svg);*/
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  position: absolute;
  top: 15px;
  right: 15px;
  background-size: contain;
}

.button-close:hover {
  cursor: pointer;
  opacity: .6;
  transition: .7s;
}
