/* PROPERTIES */
@mixin reset-border {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@mixin size-vector-duties {
  background-size: 150px 170px;
}

@mixin advantages-container-column {
  grid-template-columns: 1fr;
  row-gap: 20px;
  justify-items: center;
}

/* MEDIA QUERIES */
@mixin media_1430 {
  @media screen and (max-width: 1430px) {
    @content;
  }
}

@mixin media_1400 {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin media_1280 {
  @media screen and (max-width: 1280px) {
    @content;
  }
}

@mixin media_1024 {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin media_1110 {
  @media screen and (max-width: 1110px) {
    @content;
  }
}

@mixin media_1010 {
  @media screen and (max-width: 1010px) {
    @content;
  }
}

@mixin media_970 {
  @media screen and (max-width: 970px) {
    @content;
  }
}

@mixin media_768 {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin media_600 {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin media_480 {
  @media screen and (max-width: 480px) {
    @content;
  }
}

/* ANIMATIONS */
@mixin fadeInAndEnlargement($duration) {
  @keyframes fadeInAndEnlargement {
    from {
      opacity: 0;
      width: 50%;
    }
    to {
      opacity: 1;
      width: 100%;
    }
  }

  animation-name: fadeInAndEnlargement;
  animation-duration: $duration;
  animation-timing-function: ease-in;
}

@mixin fadeIn($duration) {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  animation-name: fadeIn;
  animation-duration: $duration;
  animation-timing-function: ease-in;
}