@import '../../utils/styles/constants';
@import '../../utils/styles/mixins';

.advantages-list {
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  align-items: baseline;
  margin-bottom: 0;

  @include media_1280 {
    margin-top: 77px;
  }

  @include media_768 {
    grid-template-columns: 1fr;
    margin-top: 0;
  }

  &__item {
    position: relative;
    height: 200px;

    @include media_768 {
      height: auto;
      padding: 30px 0;
    }
  }

  &__main-text {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.4;
    margin: 0;
    padding: 70px 0 0;

    @include media_1280 {
      font-size: 35px;
    }

    @include media_970 {
      font-size: 30px;
    }

    @include media_768 {
      padding: 0;
    }

    @include media_600 {
      font-size: 20px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    padding: 0;
    margin: 0;

    @include media_1280 {
      font-size: 18px;
    }

    @include media_970 {
      font-size: 16px;
    }

    @include media_600 {
      font-size: 20px;
    }
  }

  &__item:first-child::after {
    content: '';
    border-right: $cardBorder;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;

    @include media_768 {
      @include reset-border;
    }
  }

  &__item:last-child::after {
    content: '';
    border-right: $cardBorder;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;

    @include media_768 {
      @include reset-border;
    }
  }

  @include media_768 {
    &__item:first-child::before {
      content: '';
      border-bottom: $cardBorder;
      width: 63%;
      position: absolute;
      bottom: 0;
      right: 18.5%;
      box-sizing: border-box;
    }
  }

  @include media_768 {
    &__item:last-child::before {
      content: '';
      border-top: $cardBorder;
      width: 63%;
      position: absolute;
      top: 0;
      right: 18.5%;
      box-sizing: border-box;

      @include media_600 {
        right: 18%;
      }
    }
  }
}