.duties__button {
  text-decoration: none;
  color: #000;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 3.12;
  font-family: 'YS Text', Arial, sans-serif;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 100px;
  width: 400px;
  text-align: center;
  margin-top: 45px;
}

.duties__button:hover {
  cursor: pointer;
}