@import '../../utils/styles/constants';

.success-story-text {
 display: flex;

  .success-story-text__content {
    display: grid;
    max-height: 630px;
    height: 100%;
    overflow: hidden;
    width: 420px;

    .success-story-text__photo {
      display: block;
      max-width: 610px;
      width: 100%;
    }

    .success-story-text__photo:hover {
      cursor: pointer;
    }

    .success-story-text__text {
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 1.4;
      margin: 0;
      padding: 25px 0 0 50px;
      display: grid;
      row-gap: 10px;
      list-style-type: none;
      position: relative;
      box-sizing: border-box;

      .success-story-text__paragraph {
        padding: 0 40px 0 0;
        margin: 0;
        box-sizing: border-box;
      }

      .success-story-text__paragraph:first-child {
        position: relative;
      }
    }
  }

  .success-story-text__content_hidden {
    display: none;
  }
}
