@import '../../utils/styles/constants';

.success-story-text {
 display: flex;
 position: relative;

  .success-story-text__photo {
    display: block;
  }

  .success-story-text__photo:hover {
    cursor: pointer;
  }

  .success-story-text__content {
    display: grid;
    max-height: 630px;
    height: min-content;
    overflow: hidden;
    width: 420px;
    padding: 50px 40px 0 50px;
    box-sizing: border-box;
    position: relative;

    .success-story-text__text {
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 1.4;
      margin: 0;
      padding: 25px 0 0;
      display: grid;
      row-gap: 10px;
      list-style-type: none;
      position: relative;
      box-sizing: border-box;

      .success-story-text__paragraph {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      .success-story-text__paragraph:first-child {
        position: relative;
      }
    }
  }

  .success-story-text__content::before {
    content: '';
    border-top: $cardBorder;
    border-right: $cardBorder;
    top: 0;
    right: 0;
    width: 222px;
    height: 297px;
    position: absolute;
    box-sizing: border-box;
  }

  .success-story-text__content_hidden {
    display: none;
  }

  .success-story-text__bottom-line {
    position: absolute;
    bottom: 0;
    left: 190px;
    border-bottom: $cardBorder;
    content: '';
    width: 139px;
  }

  .success-story-text__bottom-line_hidden {
    display: none;
  }

}

.success-story-text::after {
  content: '';
  border-bottom: $cardBorder;
  border-right: $cardBorder;
  bottom: 0;
  right: 0;
  width: 56px;
  height: 139px;
  position: absolute;
  box-sizing: border-box;
}
