@import '../../utils/styles/constants';
@import '../../utils/styles/constants';

.success-story-text {
 display: flex;
 position: relative;

  &__photo {
    display: block;
    object-fit: cover;

    @include media_1400 {
      width: 150px;
    }

    @include media_768 {
      height: 400px;
      width: auto;
    }

    @include media_600 {
      height: 330px;
    }

    @include media_480 {
      height: 220px;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &__photo_mobile {
    width: 300px;
    object-fit: cover;

    @include media_768 {
      height: 400px;
      width: auto;
    }

    @include media_600 {
      height: 330px;
    }

    @include media_480 {
      height: 220px;
    }
  }

  &__content {
    display: grid;
    max-height: 630px;
    height: min-content;
    overflow: hidden;
    padding: 50px 4.5% 0 7%;
    box-sizing: border-box;
    position: relative;
    cursor: default;
    @include fadeIn(1s);

    @include media_1110 {
      padding: 30px 3% 0 5%;
    }

    @include media_1010 {
      display: none;
    }
  }

  &__text {
    @include text-light;
    margin: 0;
    padding: 25px 0 0;
    display: grid;
    row-gap: 10px;
    list-style-type: none;
    position: relative;
    box-sizing: border-box;

    @include media_1430 {
      font-size: 16px;
    }

    @include media_1110 {
      padding-top: 15px;
    }

    &__paragraph {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    &__paragraph:first-child {
      position: relative;
    }
  }

  &__content::before {
    content: '';
    border-top: $cardBorder;
    border-right: $cardBorder;
    @include position-top-right;
    width: 53%;
    height: 53%;
    box-sizing: border-box;
  }

  &__content_hidden {
    display: none;
  }

  &__bottom-line {
    position: absolute;
    bottom: 0;
    left: 190px;
    border-bottom: $cardBorder;
    content: '';
    width: 22.5%;
    @include fadeIn(1s);

    @include media_1400 {
      left: 20%;
    }
  }

  &__bottom-line_hidden {
    display: none;
  }

  &_hidden {
    display: none;
  }

  &::after {
    content: '';
    border-bottom: $cardBorder;
    border-right: $cardBorder;
    @include position-bottom-right;
    width: 9%;
    height: 22%;
    box-sizing: border-box;
    @include fadeIn(1s);
  }
}