@import '../../utils/styles/mixins';
@import '../../utils/styles/constants';

.success-story-mobile {
  display: none;

  @include media_1010 {
    display: grid;
    max-height: 630px;
    height: min-content;
    padding: 20px 0;
    box-sizing: border-box;
    position: relative;
    margin-left: 10px;
  }

  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4;
    margin: 0;
    padding: 25px 10px 13px 0;
    display: grid;
    row-gap: 10px;
    list-style-type: none;
    position: relative;
    box-sizing: border-box;
  }

  &::after {
    content: '';
    box-sizing: border-box;
    border-bottom: $cardBorder;
    height: 100%;
    width: 47%;
    bottom: 0;
    left: 0;
    position: absolute;
  }

  &::before {
    content: '';
    box-sizing: border-box;
    border-bottom: $cardBorder;
    width: 20%;
    bottom: 0;
    right: 8%;
    position: absolute;
  }

  &_hidden {
    display: none;
  }
}