@import '../../utils/styles/constants';

.success-stories {
  font-family: 'YS Display', Arial, sans-serif;
  color: $darkText;
  display: grid;
  row-gap: 20px;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;

  .success-stories__text-container {
    max-width: 610px;
    width: 100%;
    position: relative;
    height: min-content;

    .success-stories__text-list {
      padding: 0;
      list-style-type: none;
      //display: grid;
      display: flex;
      margin: 0;
      column-gap: 20px;
    }

    /* .success-stories__navigation {
      position: absolute;
      bottom: 15px;
      right: 0;
      display: flex;
      column-gap: 20px;

      .success-stories__button {
        border: none;
        background-color: #d9d9d9;
        padding: 0;
        width: 80px;
        height: 50px;
        /* ToDo: add background-image
        background-image: url(../../images/block6-icon-arrow.svg);
      }

      .success-stories__button {
        cursor: pointer;
      }

      .success-stories__arrow {
        display: block;
        margin: 0 auto;
      }

      .success-stories__arrow_right {
        transform: rotate(180deg);
      }
    } */
  }

  .success-stories__video-list {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    align-content: start;
    margin: 0;
  }
}