@import '../../utils/styles/constants';

.success-stories {
  font-family: 'YS Display', Arial, sans-serif;
  color: $darkText;
  display: grid;
  row-gap: 20px;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;

  .success-stories__text-container {
    max-width: 610px;
    width: 100%;
    position: relative;
    height: min-content;

    .success-stories__text-list {
      padding: 0;
      list-style-type: none;
      display: flex;
      margin: 0;
      column-gap: 20px;
    }
  }

  .success-stories__video-list {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    align-content: start;
    margin: 0;
  }
}