.vacancies {
  font-family: 'YS Display', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;


  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1240px;
    margin: 160px 0 147px 0;
  }

  &__title {
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 64px;
    color: #1E2027;
    align-self: start;
    margin: 0;
  }

  &__education-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 69px;
    background-color: #4F7FDD;
    padding: 0;
    margin: 100px 0 0 0;
  }

  &__menu-item {
    list-style: none;
  }

  &__btn-menu {
    border-style: none;
    background-color: #4F7FDD;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0;
    margin: 0 55px 0 15px;
  }

  &__btn-menu_active {
    background-color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 8px;
    color: #000000;
    margin: 0 40px 0 0px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 1030px;
    margin: 60px 10px 0 0;
  }

  &__prophecy-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 38px;
    padding: 0;
    margin: 0;
  }

  &__prophecy-item {
    list-style: none;
  }

  &__proph-btn-menu {
    border-style: none;
    background-color: #FFFFFF;
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
    margin: 0 40px 0 0;
    padding: 0;
    cursor: pointer;


    &_active {
      border-bottom: solid #000000 1px;
    }
  }

  &__novac-wrapper {
    display: none;
    flex-direction: column;
    width: 1030px;
    margin: 45px 0 0 0;


    &_active {
      display: flex;
    }
  }

  &__no-vac-text {
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
  }

  &__gallery {
    padding: 0;
    margin: 5px 0 0 0;
    display: none;


    &_active {
      display: block;
    }
  }

  &__gallery-item {
    list-style: none;
    margin-top: 40px;
  }

  &__gallery-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;


    &_share {
      justify-content: flex-start;
    }

    &_hide {
      display: none;
    }
  }

  &__name-wrapper {
    display: flex;
    flex-direction: row;
  }

  &__gallery-arrow {
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-arrow-backward.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all .3s linear;


    &_active {
      transform: rotate(90deg);
    }
  }

  &__name {
    border-style: none;
    background-color: #FFFFFF;
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    margin: 0 0 0 10px;
    padding: 0;
    cursor: pointer;


    &_active {
      color: #4F7FDD;
    }
  }

  &__salary {
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    margin: 0;
  }

  &__line {
    width: 100%;
    max-width: 1030px;
    height: 0.5px;
    background-color: rgba(133, 133, 133, 0.3);
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__work-time {
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #979797;
    text-align: right;
    margin: 0;
  }

  &__description {
    display: none;


    &_active {
      display: block;
    }
  }

  &__req-title {
    margin: 10px 0 20px 0;
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
  }

  &__req-list {
    list-style: square;
    padding: 0;
    padding-left: 25px;
  }

  &__req-list :last-child {
    margin: 0 0 20px 10px;
  }

  &__req-item {
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    margin: 0 0 15px 10px;
  }

  &__send-btn {
    width: 295px;
    height: 50px;
    background-color: #4F7FDD;
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    margin: 25px 0 35px 0;
    border-style: none;
    border-radius: 8px;
    cursor: pointer;


    &_noVac {
      background-color: #FFFFFF;
      border: 1px solid #4F7FDD;
      color: #4F7FDD;
    }
  }

  &__share-btn {
    width: 50px;
    height: 50px;
    background-image: url(../images/share.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 15px;
    padding: 0;
    margin: 25px 0 35px 20px;
    border-style: none;
    cursor: pointer;
  }

  &__notfound-vac-text {
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 45px 0 0 0;
  }

  &__notfound-vac-btn {
    width: 293px;
    height: 50px;
    background-color: #FFFFFF;
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #4F7FDD;
    padding: 0;
    margin: 45px 0 0 20px;
    border: 1px solid #4F7FDD;
    border-radius: 8px;
    cursor: pointer;
  }

  &__popup-share {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 234px;
    min-height: 181px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #4f7fdd;
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 36%;
    bottom: 70%;


    &_active {
      visibility: visible;
    }
  }

  &__popup-link-wrapper:hover .vacancies__popup-link {
    color: #4F7FDD;
  }

  &__popup-link-wrapper:hover .vacancies__popup-copy-icon {
    background-image: url(../images/icon-copy-blue.svg);
  }

  &__popup-link-wrapper:hover .vacancies__popup-telegram-icon {
    background-image: url(../images/icon-telegram-blue.svg);
  }

  &__popup-link-wrapper:hover .vacancies__popup-vk-icon {
    background-image: url(../images/icon-vk-blue.svg);
  }

  &__popup-link-wrapper:hover .vacancies__popup-twitter-icon {
    background-image: url(../images/icon-twitter-blue.svg);
  }

  &__popup-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
  }

  &__popup-list :first-child {
    margin: 0;
  }

  &__popup-link-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 17px 0 0 0;
    cursor: pointer;
  }

  &__popup-link {
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1E2027;
    text-decoration: none;
    margin: 0 0 0 11px;
    padding: 0;

    &_active {
      color: #37935B;
    }
  }

  &__popup-copy-icon {
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-copy-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;


    &_done {
      background-image: url(../images/icon-copy-success.svg);
    }
  }

  &__popup-share:hover .vacancies__popup-copy-icon_done {
    background-image: url(../images/icon-copy-success.svg);
    transition: .5s;
  }

  &__popup-telegram-icon {
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-telegram-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__popup-vk-icon {
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-vk-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__popup-twitter-icon {
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-twitter-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}