.vacancies {
  font-family: 'YS Display', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;


  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1240px;
    margin: 160px 0 147px 0;
  }

  &__title {
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 64px;
    color: #1E2027;
    align-self: start;
    margin: 0;
  }

  &__education-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 69px;
    background-color: #4F7FDD;
    padding: 0;
    margin: 100px 0 0 0;
  }

  &__menu-item {
    list-style: none;
  }

  &__btn-menu {
    border-style: none;
    background-color: #4F7FDD;
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0;
    margin: 0 55px 0 15px;
  }

  &__btn-menu-arrow {
    display: none;
  }

  &__btn-menu_active {
    background-color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 8px;
    color: #000000;
    margin: 0 40px 0 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 60px 0 0 0;
  }

  &__prophecy-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 38px;
    padding: 0;
    margin: 0;
  }

  &__prophecy-item {
    list-style: none;
  }

  &__proph-btn-menu {
    border-style: none;
    background-color: #FFFFFF;
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
    margin: 0 40px 0 0;
    padding: 0;
    cursor: pointer;


    &_active {
      border-bottom: solid #000000 1px;
      font-weight: 700;
    }
  }

  &__novac-wrapper {
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 45px 0 0 0;


    &_active {
      display: flex;
    }
  }

  &__no-vac-text {
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }

  &__gallery {
    padding: 0;
    margin: 5px 0 0 0;
    display: none;


    &_active {
      display: block;
    }
  }

  &__gallery-item {
    list-style: none;
    margin-top: 40px;
  }

  &__gallery-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;


    &_share {
      justify-content: flex-start;
    }

    &_hide {
      display: none;
    }
  }

  &__name-wrapper {
    display: flex;
    flex-direction: row;
  }

  &__gallery-arrow {
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-arrow-backward.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all .3s linear;
    cursor: pointer;


    &_active {
      transform: rotate(90deg);
    }
  }

  &__name {
    border-style: none;
    background-color: #FFFFFF;
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #1E2027;
    margin: 0 0 0 10px;
    padding: 0;
    text-align: left;
    cursor: pointer;


    &_active {
      color: #4F7FDD;
    }
  }

  &__salary {
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #585A5B;
    margin: 0;
  }

  &__line {
    width: 100%;
    max-width: 1030px;
    height: 0.5px;
    background-color: rgba(133, 133, 133, 0.3);
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__work-time {
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #585A5B;
    text-align: right;
    margin: 0;
  }

  &__description {
    display: none;


    &_active {
      display: block;
    }
  }

  &__req-title {
    margin: 10px 0 20px 0;
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #1E2027;
  }

  &__req-list {
    list-style: square;
    padding: 0;
    padding-left: 25px;
  }

  &__todo-list {
    list-style: square;
    padding: 0;
    padding-left: 25px;
  }

  &__req-list :last-child {
    margin: 0 0 30px 10px;
  }

  &__req-item {
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    margin: 0 0 15px 10px;
  }

  &__send-btn {
    width: 330px;
    height: 50px;
    background-color: #4F7FDD;
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    margin: 15px 0 35px 0;
    border-style: none;
    border-radius: 8px;
    cursor: pointer;


    &_noVac {
      width: 205px;
      background-color: #FFFFFF;
      border: 1px solid #4F7FDD;
      color: #4F7FDD;
    }
  }

  &__share-btn {
    width: 50px;
    height: 50px;
    background-image: url(../images/share.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 0;
    margin: 15px 0 35px 20px;
    border: 1px solid #585A5B;
    cursor: pointer;
  }

  &__notfound-vac-text {
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    align-items: center;
    color: #1E2027;
    margin: 45px 0 0 0;
  }

  &__notfound-vac-btn {
    width: 205px;
    height: 50px;
    background-color: #FFFFFF;
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #4F7FDD;
    padding: 0;
    margin: 45px 0 0 20px;
    border: 1px solid #4F7FDD;
    border-radius: 8px;
    cursor: pointer;
  }

  &__popup-share {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 234px;
    min-height: 181px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #4f7fdd;
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 36%;
    bottom: 70%;


    &_active {
      visibility: visible;
    }
  }

  &__popup-link-wrapper:hover .vacancies__popup-link {
    color: #4F7FDD;
  }

  &__popup-link-wrapper:hover .vacancies__popup-copy-icon {
    background-image: url(../images/icon-copy-blue.svg);
  }

  &__popup-link-wrapper:hover .vacancies__popup-telegram-icon {
    background-image: url(../images/icon-telegram-blue.svg);
  }

  &__popup-link-wrapper:hover .vacancies__popup-vk-icon {
    background-image: url(../images/icon-vk-blue.svg);
  }

  &__popup-link-wrapper:hover .vacancies__popup-twitter-icon {
    background-image: url(../images/icon-twitter-blue.svg);
  }

  &__popup-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
  }

  &__popup-list :first-child {
    margin: 0;
  }

  &__popup-link-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 17px 0 0 0;
    cursor: pointer;
  }

  &__popup-link {
    font-family: 'YS Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1E2027;
    text-decoration: none;
    margin: 0 0 0 11px;
    padding: 0;

    &_active {
      color: #37935B;
    }
  }

  &__popup-copy-icon {
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-copy-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;


    &_done {
      background-image: url(../images/icon-copy-success.svg);
    }
  }

  &__popup-share:hover .vacancies__popup-copy-icon_done {
    background-image: url(../images/icon-copy-success.svg);
    transition: .5s;
  }

  &__popup-telegram-icon {
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-telegram-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__popup-vk-icon {
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-vk-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__popup-twitter-icon {
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-twitter-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@media screen and (max-width: 1024px) {

  .vacancies {
    max-width: 1024px;

    &__container {
      width: 100%;
      max-width: 1024px;
      margin: 150px 0 150px 0;
    }

    &__title {
      font-size: 45px;
      line-height: 53px;
      margin: 0 0 0 21px;
    }

    &__education-menu {
      width: 100%;
      max-width: 1024px;
      min-height: 71px;
      margin: 80px 0 0 0;
      justify-content: space-evenly;
    }

    &__btn-menu {
      font-size: 18px;
      line-height: 21px;
      margin: 0;
    }

    &__info {
      width: calc(100% - 40px);
      margin: 60px 0 0 0;
    }

    &__prophecy-menu {
      min-height: 43px;
    }

    &__popup-share {
      left: 41%;
      bottom: 80%;
    }
  }

}

@media screen and (max-width: 768px) {

  .vacancies {
    max-width: 768px;

    &__container {
      width: 100%;
      max-width: 768px;
      margin: 100px 0 110px 0;
    }

    &__title {
      font-size: 30px;
      line-height: 35px;
      margin: 0 0 0 20px;
    }

    &__education-menu {
      width: 100%;
      max-width: 768px;
      min-height: 72px;
      margin: 55px 0 0 0;
    }

    &__btn-menu {
      font-size: 16px;
      line-height: 22px;
    }

    &__info {
      width: calc(100% - 40px);
      margin: 22px 0 0 0;
    }

    &__prophecy-menu {
      min-height: 37px;
    }

    &__proph-btn-menu {
      font-size: 16px;
    }

    &__name {
      font-size: 16px;
    }

    &__salary {
      font-size: 16px;
    }

    &__line {
      max-width: 768px;
    }

    &__work-time {
      font-size: 16px;
    }

    &__req-title {
      font-size: 15px;
    }

    &__req-item {
      font-size: 15px;
    }

    &__send-btn {
      font-weight: 500;
      font-size: 16px;
    }

    &__notfound-vac-text {
      font-size: 16px;
    }

    &__notfound-vac-btn {
      font-size: 16px;
    }

    &__popup-share {
      left: 55%;
      bottom: 85%;
    }
  }
}

@media screen and (max-width: 530px) {

  .vacancies {
    max-width: 530px;

    &__container {
      width: 100%;
      max-width: 530px;
      margin: 90px 0 90px 0;
    }

    &__title {
      font-size: 25px;
      line-height: 29px;
      margin: 0 0 0 10px;
    }

    &__education-menu {
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      max-width: 530px;
      min-height: 20px;
      height: 40px;
      padding: 15px 0 15px 0;
      margin: 50px 0 0 0;
      z-index: 10;
      overflow: hidden;

      &_active {
        overflow: visible;
        min-height: 230px;
        height: 230px;
      }
    }

    &__menu-item {
      margin: 0 0 0 0;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 300px;
      background-color: #FFFFFF;
      border-radius: 8px;
      display: none;

      &_visible {
        display: flex;
      }
    }

    &__btn-menu {
      background-color: #FFFFFF;
      font-size: 15px;
      line-height: 40px;
      color: #000000;
      border-radius: 8px;
      padding: 0 0 0 15px;
      text-align: left;
      width: 300px;
      margin: 0;

      &_active {
        padding: 0 0 0 15px;
        margin: 0;
      }
    }

    &__btn-menu-arrow {
      display: block;
      width: 15px;
      height: 15px;
      background-image: url(../images/icon-arrow-320.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-color: transparent;
      transform: rotate(90deg);
      border-style: none;
      padding: 0;
      margin: 0 15px 0 0;
      cursor: pointer;
    }

    &__info {
      width: calc(100% - 20px);
      margin: 20px 0 0 0;
    }

    &__prophecy-menu {
      justify-content: space-between;
      min-height: 50px;
    }

    &__prophecy-item {
    margin: 0 0 0 34.5px;
    }

    &__prophecy-item:last-child {
      margin: 0 34.5px 0 0;
    }

    &__proph-btn-menu {
      margin: 0;
        font-weight: 500;
    }

    &__novac-wrapper {
      margin: 20.5px 0 0 0;
    }

    &__no-vac-text {
      font-weight: 400;
      font-size: 15px;
      margin-bottom: 10px;
    }

    &__gallery {
      margin: 0;
    }

    &__gallery-item {
      margin-top: 30px;
    }

    &__gallery-wrapper {
      flex-direction: column;

      &_share {
        flex-direction: row;
        justify-content: space-between;
      }

      &_small {
        flex-direction: column;
      }
    }

    &__name-wrapper {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    &__gallery-arrow {
      width: 15px;
      height: 15px;
      background-image: url(../images/icon-arrow-320.svg);
    }

    &__name {
      font-size: 15px;
      margin: 0;
      text-align: left;
    }

    &__salary {
      font-size: 13px;
    }

    &__line {
      margin-top: 0;
      margin-bottom: 0;
    }

    &__work-time {
      font-size: 13px;
      text-align: left;
    }

    &__req-title {
      font-weight: 400;
      font-size: 15px;
    }

    &__req-list {
      padding-left: 17px;
    }

    &__req-item {
      font-size: 13px;
    }

    &__send-btn {
      width: 240px;
      font-size: 15px;
      margin: 0 0 30px 0;

      &_noVac {
        width: 300px;
        margin: 10px 0 35px 0;
      }
    }

    &__share-btn {
      margin: 0 0 30px 10px;
    }

    &__notfound-vac-text {
      font-size: 15px;
      margin: 30px 0 0 0;
    }

    &__notfound-vac-btn {
      width: 300px;
      font-size: 15px;
      margin: 0 0 0 0;
    }

    &__popup-share {
      left: 10%;
      bottom: 110%;
    }

    &__popup-link {
      font-size: 13px;
    }
  }
}