@import '../../utils/styles/constants';

.card {
  max-width: 590px;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding-top: 50px;

  .card__description {
    display: none;
  }
}

.card_place_right-top::after {
  content: '';
  border-right: $cardBorder;
  border-top: $cardBorder;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 315px;
}

.card_place_right-top::before {
  content: '';
  border-left: $cardBorder;
  border-bottom: $cardBorder;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 242px;
}

.card_place_right-bottom::after {
  content: '';
  border-right: $cardBorder;
  border-top: $cardBorder;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 73px;
}

.card_place_right-bottom::before {
  content: '';
  border-left: $cardBorder;
  border-top: $cardBorder;
  position: absolute;
  top: 0;
  left: 0;
  height: 76px;
  width: 73px;
}

.card_place_left-top::after {
  content: '';
  border-right: $cardBorder;
  border-bottom: $cardBorder;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 233px;
}

.card_place_left-top::before {
  content: '';
  border-left: $cardBorder;
  border-top: $cardBorder;
  position: absolute;
  top: 0;
  left: 0;
  height: 162px;
  width: 125px;
}

.card_place_left-bottom::after {
  content: '';
  border-right: $cardBorder;
  border-bottom: $cardBorder;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 134px;
  width: 42px;
}

.card_place_left-bottom::before {
  content: '';
  border-left: $cardBorder;
  border-top: $cardBorder;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 259px;
}

.card_place_second-right-top::after {
  content: '';
  border-right: $cardBorder;
  border-bottom: $cardBorder;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 57px;
  width: 286px;
}

.card_place_second-right-top::before {
  content: '';
  border-left: $cardBorder;
  border-top: $cardBorder;
  position: absolute;
  top: 0;
  left: 0;
  height: 78px;
  width: 259px;
}

.card_place_second-right-bottom::after {
  content: '';
  border-right: $cardBorder;
  border-bottom: $cardBorder;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 109px;
  width: 252px;
}

.card_place_second-right-bottom::before {
  content: '';
  border-left: $cardBorder;
  border-top: $cardBorder;
  position: absolute;
  top: 0;
  left: 0;
  height: 44px;
  width: 342px;
}

.card_place_second-left-top::after {
  content: '';
  border-right: $cardBorder;
  border-top: $cardBorder;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 315px;
}

.card_place_second-left-top::before {
  content: '';
  border-left: $cardBorder;
  border-bottom: $cardBorder;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 242px;
}

.card_place_second-left-bottom::after {
  content: '';
  border-right: $cardBorder;
  border-top: $cardBorder;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 73px;
}

.card_place_second-left-bottom::before {
  content: '';
  border-left: $cardBorder;
  border-top: $cardBorder;
  position: absolute;
  top: 0;
  left: 0;
  height: 76px;
  width: 73px;
}