@import '../../utils/styles/mixins';

.section-title {
  @include remove-margins;
  @include subtitle-h2;
  color: #1E2027;
  text-align: left;

  @include media_480 {
    margin-left: 2px;
  }

  &_place_advantages {
    justify-self: start;
  }

  &_place_duties {
    align-self: flex-start;
    max-width: 600px;
    width: 100%;

    @include media_480 {
      max-width: 270px;
    }
  }

  &_place_conditions {
    width: 100%;

    @include media_1024 {
      max-width: 370px;
    }

    @include media_768 {
      max-width: 300px;
    }
  }
}
