.success-story-title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.4;
  @include remove-margins;
  position: relative;
  box-sizing: border-box;

  @include media_1430 {
    font-size: 30px;
  }

  @include media_600 {
    font-size: 20px;
  }

  &_place_video {
    position: relative;
    margin: 25px 0 0 60px;

    @include media_600 {
      margin: 25px 0 0 10px;
    }
  }

  &_place_video::before {
    content: '';
    box-sizing: border-box;
    border-right: $cardBorder;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
  }
}
