.video {
  display: block;
  position: relative;

  &__link {
    display: block;
  }

  &__image {
    display: block;
    width: 100%;
    height: 420px;
    object-fit: cover;

    @include media_1280 {
      height: 380px;
    }

    @include media_970 {
      height: 372px;
      width: 610px;
    }

    @include media_768 {
      width: 500px;
      height: 350px;
    }

    @include media_600 {
      width: 290px;
      height: auto;
      @include remove-margins;
      box-sizing: border-box;
    }
  }

  &__iframe {
    width: 100%;
    height: 420px;
    border: none;

    @include media_1280 {
      height: 380px;
    }

    @include media_970 {
      height: 372px;
      width: 610px;
    }

    @include media_768 {
      width: 500px;
      height: 350px;
    }

    @include media_600 {
      width: 290px;
      height: auto;
      @include remove-margins;
      box-sizing: border-box;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
