.duties__list-of-positions {
  display: grid;
  max-width: 1240px;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  margin: 70px 0 0;
  padding: 0;
  list-style-type: none;
  column-gap: 20px;
}