.success-story-video {
  display: grid;
  position: relative;

  @include media_768 {
    max-width: 480px;
    justify-self: center;
  }

  @include media_600 {
    max-width: 296px;
  }

  &::after {
    content: '';
    box-sizing: border-box;
    border-bottom: $cardBorder;
    bottom: 0;
    right: 0;
    width: 47%;
  }
}
