@import '../../utils/styles/constants';
@import '../../utils/styles/mixins';

.success-story-video {
  display: grid;
  position: relative;

  @include media_768 {
    max-width: 480px;
    justify-self: center;
  }

  @include media_600 {
    max-width: 296px;
  }

  .video-story {
    position: relative;

    @include media_768 {
      max-width: 480px;
    }

    .video-story__image {
      display: block;
      max-width: 610px;
      width: 100%;
    }

    .video-story__iframe {
      max-width: 610px;
      width: 100%;
      border: none;
      height: 500px;
    }
  }

  &::after {
    content: '';
    box-sizing: border-box;
    border-bottom: $cardBorder;
    bottom: 0;
    right: 0;
    width: 47%;
  }
}
