.video-story {
  position: relative;

  @include media_768 {
    max-width: 480px;
  }

  &__link:hover {
    cursor: pointer;
  }

  &__image {
    display: block;
    max-width: 610px;
    width: 100%;
  }

  &__iframe {
    max-width: 610px;
    width: 100%;
    border: none;
    height: 500px;
  }
}