@import '../../utils/styles/mixins';

.success {
  display: none;
  justify-items: center;
  position: relative;
  width: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;

  @include media_768 {
    padding-bottom: 40px;
  }

  @include media_768 {
    max-width: 300px;
  }

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.4;
    color: #1E2027;
    padding: 0;
    margin: 0;
    text-align: center;

    @include media_768 {
      font-size: 25px;
      margin-top: 50px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: #1E2027;
    padding: 0;
    margin: 46px 0 0;
    text-align: center;

    @include media_768 {
      margin-top: 20px;
      font-size: 15px;
    }
  }

  &__vector {
    position: absolute;
    bottom: 35px;
  }

  &__vector_left {
    left: -190px;
    bottom: 35px;

    @include media_768 {
      width: 135px;
      height: 137px;
      left: -50px;
      bottom: 115px;
    }
  }

  &__vector_right {
    right: -190px;
    transform: rotateY(180deg);

    @include media_768 {
      display: none;
    }
  }

  &_visible {
    display: grid;
  }
}
