@import '../../utils/styles/constants';

.advantages-container {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  width: 100%;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.4;

  .advantages-container__row {
    display: grid;
    column-gap: 20px;

    .advantages-container__card-list {
      padding: 0;
      margin: 0;
      display: grid;
      list-style-type: none;
      align-items: center;
      grid-template-rows: repeat(2, 1fr);
    }
  }

  .advantages-container__row_place_first {
    grid-template-columns: 610px 590px;

    .advantages-container__image {
      width: 610px;
      display: block;
    }

  /*   .advantages-container__card-list_place_first-top {
      position: relative;
    }

    .advantages-container__card-list_place_first-top::after {
      content: '';
      width: 467px;
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: $cardBorder;
    } */
  }

  .advantages-container__row_place_second {
    grid-template-columns: 380px 820px;
  }

  .advantages-container__row_place_third {
    grid-template-columns: 715px 485px;

    .advantages-container__card-list_place_second-top {
      position: relative;
    }

    .advantages-container__card-list_place_second-top::after {
      content: '';
      width: 88px;
      height: 76px;
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: $cardBorder;
      border-left: $cardBorder;
    }

    .advantages-container__card-list_place_second-top::before {
      content: '';
      width: 106px;
      height: 100px;
      position: absolute;
      top: 0;
      right: 0;
      border-top: $cardBorder;
      border-right: $cardBorder;
    }
  }

  .advantages-container__row_place_fourth {
    grid-template-columns: 590px 610px;

    .advantages-container__card-list_place_second-bottom {
      position: relative;
    }

    .advantages-container__card-list_place_second-bottom::before {
      content: '';
      width: 467px;
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: $cardBorder;
    }
  }
}