@import '../../utils/styles/constants';

.success-story-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  padding: 5px 0 0;
  margin: 0;
  box-sizing: border-box;
}

.success-story-subtitle_place_video {
  position: relative;
  padding: 5px 0 47px 50px;
}

.success-story-subtitle_place_video::before {
  content: '';
  box-sizing: border-box;
  border-right: $cardBorder;
  border-left: $cardBorder;
  height: 100%;
  top: 0;
  right: 0;
  width: 100%;
  position: absolute;
}

.success-story-subtitle_place_video::after {
  content: '';
  box-sizing: border-box;
  border-bottom: $cardBorder;
  bottom: 0;
  right: 0;
  width: 214px;
  position: absolute;
}
