.header {
  min-height: 100px;
  font-family: 'YS Display', Arial, sans-serif;
  background: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 11;

  &__logo-link {
    @include remove-margins;
    width: max-content;
    text-decoration: none;
  }

  &__logo-image {
    margin: 0;
    padding: 0 10px 0 0;
    width: 163px;
    height: 50px;

    @include media_768 {
      width: 145px;
    }
  }

  &__link-button {
    margin: 0;
    padding: 16px;
    width: 144px;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(133, 133, 133, 0.3);
    border-radius: 8px;
    color: #1E2027;

    &:hover {
      border: 1px solid #4F7FDD;
      color: #4F7FDD;;
    }

    @include media_768 {
      width: 125px;
      height: 40px;
      font-size: 15px;
    }
  }

  @include media_1024 {
    min-height: 90px;
  }

  @include media_768 {
    min-height: 70px;
  }
}