.form {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;

  .form__item {

  }

  .form__item_type_error {

  }

  .form__error {

  }

  .form__error_active {

  }

  .form__button {

  }

  .form__button_disabled {

  }
}